<h1>Stupid Coach</h1>

<div class="question-container">
  <p class="question"><strong>Question</strong>: <%= params['question'] %></p>
  <p class="by">- YOU</p>
</div>

<div class="answer-container">
  <p class="answer"><strong>Answer</strong>: <%= @answer %></p>
  <p class="by">- The Coach</p>
</div>
